html,body,.container{
    height:100%;
}
.container-fluid{
    display:table;
    width: 100%;
	height: 100%;
    padding: 0px !important;
}

.row-header{
    height: 7%;
	min-height: 44px;
	background-color:#FAFAFA;
	border-bottom-style: solid;	   
	border-color:grey;
}

.row-content{
	height: 93%;
}

.btn_at_header{
	transform: translateY(10%);
}

.btn_at_sidebar{
	margin-bottom: 10px;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%

}

.col-header{
	height: 100%;
	font-size: 1.5em;
	color: grey;
}

.row-selection_bar{
	height: 60%;
	padding: 7px !important;
	border-width: 2px;
	border-bottom-style: solid;
	border-color:grey;
}

.row-legend{
	height: 40%;
	padding: 7px !important;
}

.col-map{
	padding: 0px !important;
	height:100%;
	border-right-style: solid;
	border-color:grey;
}

.col-sidebar{
	padding: 0px !important;
	height:100%;
	border-right-style: solid;
	border-width: 3px;
	border-color:grey;
}

.sidebar_heading{
	font-size: 1.2em;
	font-style: italic !important;
	font-weight: bold;
}

.selection_bar{
	margin-bottom:10px !important;
}

.zeitraum_slider{
	margin-right: 20px !important;
	margin-left: 20px !important;
	margin-top: 10px !important;
	margin-bottom: 65px !important;
}

.ui-slider-label{
	color: black;
	font-weight: normal;
	font-size: 10pt;
	margin-top: 4px;
	text-align: center;
	padding-bottom: 5px !important;
}

.information_header{
	padding-left: 1em;
}

.information_body{
	line-height: 1.5;
	text-align: justify;
}

.info_content{
	padding-left: 1em;
	padding-right: 1em;
}

#map{ 
height: 100%; 
}
